*{
    font-family: 'Benne', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background: linear-gradient(110deg, #0f1829, #050812);
}

.big-container{
    width: 100%;
    height: 95vh;
    max-width: 1600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
    animation: fade 3s ease-in-out forwards;
    opacity: 0;
}
@keyframes fade{
    to{opacity: 1;}
}
.container{
    width: 100%;
    height: 100%;
    overflow: auto;
}
::-webkit-scrollbar{
    display: none;
}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: -1;
}
header{
    min-height: 60px;
    width: 100%;
    border-bottom: 1px solid #fff8;
    overflow: hidden;
    animation: fade 1.5s ease-in-out forwards;
    animation-delay: 1s ;
    opacity: 0;
}
header .logo{
    float: left;
    margin-left: 20px;
}
header .logo h2{
    color: whitesmoke;
    text-transform: none;
    letter-spacing: 4px;
    line-height: 80px;
    text-shadow: none; /*0 0 8px whitesmoke;*/
}
header nav{
    float: right;
    margin-right: 20px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
nav ul{
    margin-right: 30px;
    min-width: 450px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
a{
    text-decoration: none;
    color: ghostwhite;
    padding: 8px 15px;
    text-transform: uppercase;
    display: inline-block;
    text-shadow: 0 0 5px whitesmoke;
}
.active{
    background: teal;
    border-radius: 20px;
}
a:hover{
    color: turquoise;
}
nav form{
    height: 30px;
    min-width: 300px;
    margin: 10px 0;
}
form input{
    height: 100%;
    width: 250px;
    border: 1px solid teal;
    background: black;
    padding: 0 5px;
    color: white;
    outline: none;
}
form button{
    width: 50px;
    height: 100%;
    border: 1 px solid teal;
    background: black;
    color: white;
    cursor: pointer;
}

section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    text-shadow: 0 0 8px whitesmoke;
    animation: fade 2s ease-in-out forwards;
    animation-delay: 2s ;
    opacity: 0;
}
section p{
    text-transform: uppercase;
    font-size: 1.5em;
    color: lavender;
    letter-spacing: 10px;
}
section p{
    line-height: 1.4;
    margin: 15px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}

footer{
    width: 100%;
    font-size: 25px;
    text-align: center;
    color: white;
    animation: fade 2s ease-in-out forwards;
    animation-delay: 2s ;
    opacity: 0;
}
footer h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    color: lavender;
    text-decoration: none;
    font-size: 40px;
}
footer p{
    max-width: 600px;
    margin: 15px auto;
    line-height: 1.5;
    font-family: cambria math;
    color: white;
    font-size: 22px;
    text-decoration: bold;
    letter-spacing: 2px;
}

@media (max-width: 1000px){
    header .logo,
    header nav{
        width: 100%;
        margin: 0;
        text-align: center;
    }
}
@media (max-width: 850px){
    nav ul{
        min-width: 300px;
        margin: 0;
    }
    nav ul a{
        padding: 5px 10px;
    }
}
